<div class="video-list-page">
  <div class="video-list-page__toolbar">
    <h1 class="video-list-page__title">{{catalogId}}</h1>
    <div class="video-list-page__filter filter">
      Filter
    </div>
  </div>
  <div class="video-list">
    <div class="video-list__item video-item" *ngFor="let item of playlists"
         [routerLink]="['/watch/playlist', item.id]">
      <div class="video-item__img-wrapper">
        <div class="video-item__img video-item__img--back video-item__img--back-1">
          <load-image [src]="item.snippet.thumbnails.medium.url" [alt]="item.snippet.title" [fit]="'cover'">
          </load-image>
        </div>
        <div class="video-item__img video-item__img--back video-item__img--back-2">
          <load-image [src]="item.snippet.thumbnails.medium.url" [alt]="item.snippet.title" [fit]="'cover'">
          </load-image>
        </div>
        <div class="video-item__img">
          <load-image [src]="item.snippet.thumbnails.medium.url"
                      [alt]="item.snippet.title" [fit]="'cover'">
          </load-image>
        </div>
        <load-image class="video-item__channel" [src]="getChannelLogo(item.snippet.channelId)"
                    [alt]="item.snippet.title" [round]="true">
        </load-image>
      </div>
      <div class="video-item__description">
        <div class="video-item__title">{{item.snippet.title}}</div>
      </div>
    </div>
  </div>
</div>
