:host {
  display: flex;
  height: 100%;
}

.c-menu {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    will-change: opacity;
    opacity: .75;
    transition: opacity .2s;

    &--active, &:hover {
      opacity: 1;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      right: 0;
      height: 3px;
      width: 0;
      background: #ed7165;
      will-change: width, left;
      transition: width .4s;
    }
    &:hover:after {
      left: 0;
    }
    &--active:after {
      width: 100%;
    }
  }
  &.can-hover &__item:hover:after {
    width: 100%;
  }
}
