<div class="c-menu">
  <a routerLink="./languages" routerLinkActive="c-menu__item--active" class="c-menu__item">Languages</a>
  <a routerLink="./frameworks" routerLinkActive="c-menu__item--active" class="c-menu__item">Frameworks</a>
  <a routerLink="./libraries" routerLinkActive="c-menu__item--active" class="c-menu__item">Libraries</a>
  <a routerLink="./tools" routerLinkActive="c-menu__item--active" class="c-menu__item">Tools</a>
  <a routerLink="./channels" routerLinkActive="c-menu__item--active" class="c-menu__item">Channels</a>
</div>
