<div class="sidebar">
  <div class="sidebar__logo">
    <svg icon="logo" class="app-logo"></svg>
  </div>

  <div class="sidebar__menu">
    <a routerLink="/catalog" routerLinkActive="menu-item--active" class="menu-item">
      <svg icon="list" class="menu-item__icon menu-item__icon--list"></svg>
    </a>
    <a routerLink="/bookmarks" routerLinkActive="menu-item--active" class="menu-item">
      <svg icon="bookmark-outline" class="menu-item__icon menu-item__icon--bookmark"></svg>
    </a>
    <a routerLink="/history" routerLinkActive="menu-item--active" class="menu-item">
      <svg icon="time" class="menu-item__icon menu-item__icon--history"></svg>
    </a>
  </div>

  <div class="sidebar__footer">
    <a routerLink="/settings" routerLinkActive="menu-item--active" class="menu-item">
      <svg icon="settings" class="menu-item__icon"></svg>
    </a>
  </div>
</div>
